
<main class="container-fluid">
    <section class="row py-2">
        <div class="col-3">
            <app-admin-sidebar></app-admin-sidebar>
        </div>
        <div class="col-9">
            <form class="container" [formGroup]="formGroup" (submit)="onSubmit()">
                <section class="row justify-content-center">
                    <div class="col-12">
                        <h4 class="py-2">Nova sala</h4>
                        <h6 class="subtitle font-weight-bold">Preencha todas as informações</h6>
                    </div> 
                    <div class="w-100"></div>
                    <div class="col-12 col-md-6 pr-md-5">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control rounded-0" placeholder="Nome da sala" formControlName="nome" />
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pl-md-5">
                        <div class="form-group">
                            <select class="form-control rounded-0" name="room" formControlName="tipo_sala">
                                <option value="">Selecione o tipo da sala</option>
                                <option value="10">2D</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pr-md-5">
                        <div class="form-group">
                            <input type="number" name="rows" class="form-control rounded-0" placeholder="Quantidade de fileiras" min="1" formControlName="quantidade_fileira"/>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pl-md-5">
                        <div class="form-group">
                            <input type="number" name="seats" class="form-control rounded-0" placeholder="Quantidade de assentos" min="10" formControlName="quantidade_assento" />
                        </div>
                    </div>
                </section>
                <section class="row justify-content-center py-3">
                    <div class="col-12">
                        <button type="submit" class="btn w-100 raised-button">Adicionar Sala</button>
                    </div>
                </section>
            </form>
        </div>
    </section>
</main>