<main class="container-fluid py-5">
    <section class="row text-align-center justify-content-center py-4">
        <div class="col-12 col-sm-12 col-md-3 order-2 order-md-1 px-2">
            <h4>Entrar com uma rede social</h4>
            <a class="btn bg-primary text-left text-white font-weight-bold w-100 my-3" (click)="loginWithGoogle()">
                <img src="assets/icons/google-icon-white.svg" width="24"/>
                Entrar com o Google
            </a>
            <a routerLink="/create-user" class="btn raised-button rounded font-weight-bold">Criar nova conta <fa-icon [icon]="faArrowRight" class="text-white"></fa-icon></a>
        </div>
        <div class="col-12 col-sm-12 col-md-4 order-1 order-md-2 px-3 pb-2 pt-1 section-divider-left">
            <form [formGroup]="formGroup" (submit)="submit()">
                <h4>Entre agora com seu SeuCine.com</h4>
                <div class="form-group my-4">
                    <input type="text" class="form-control rounded-0" placeholder="E-mail" formControlName="email" [ngClass]="submitted && !formGroup.controls.email.valid ? 'invalid-form' : '' " />
                    <div *ngIf="submitted && !formGroup.controls.email.valid">
                        <small class="text-danger" *ngIf="formGroup.controls.email.errors.required">E-mail obrigatório</small>
                        <small class="text-danger" *ngIf="formGroup.controls.email.errors.email">Digíte um e-mail válido</small>
                    </div>
                    
                </div>
                <div class="form-group my-4">
                    <input type="password" class="form-control rounded-0" placeholder="Senha" formControlName="password" [ngClass]="submitted && !formGroup.controls.password.valid ? 'invalid-form' : '' " />
                    <div *ngIf="submitted && !formGroup.controls.password.valid">
                        <small class="text-danger" *ngIf="formGroup.controls.password.errors.required">Senha obrigatória</small>
                        <small class="text-danger" *ngIf="formGroup.controls.password.errors.minlength">A senha deve conter no minímo 8 digítos</small>
                    </div>
                </div>
                <div class="form-group">
                    <app-error-label [errorLabel]="errorLabel"></app-error-label>
                    <button type="submit" class="btn raised-button rounded">Entrar</button>
                </div>
            </form>
        </div>
    </section>
</main>