
<main class="container-fluid">
    <section class="row py-2">
        <div class="col-3">
            <app-admin-sidebar></app-admin-sidebar>
        </div>
        <div class="col-9">
            <form class="container" [formGroup]="formGroup" (submit)="onSubmit()">
                <section class="row justify-content-center">
                    <div class="col-12">
                        <h4 class="py-2">Nova sessão</h4>
                        <h6 class="subtitle font-weight-bold">Preencha todas as informações</h6>
                    </div> 
                    <div class="w-100"></div>
                    <div class="col-12">
                        <div class="form-group">
                            <select class="form-control rounded-0" name="movie" formControlName="filme_id">
                                <option value="">Selecione o filme</option>
                                <option [value]="filme.id" *ngFor="let filme of filmes">{{ filme.titulo  }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pr-md-5">
                        <div class="form-group">
                            <select class="form-control rounded-0" name="room" formControlName="sala_id">
                                <option value="">Selecione a sala</option>
                                <option [value]="sala.id" *ngFor="let sala of salas">{{ sala.nome }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pl-md-5">
                        <div class="form-group">
                            <select class="form-control rounded-0" name="format" formControlName="formato">
                                <option value="">Selecione o formato (Ex.: 2D)</option>
                                <option value="2D">2D</option>
                                <option value="3D">3D</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pr-md-5">
                        <div class="form-group">
                            <select class="form-control rounded-0" name="dub" formControlName="dublado">
                                <option value="">Selecione a legenda</option>
                                <option [value]="1">Dublado</option>
                                <option [value]="0">Legendado</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 pl-md-5">
                        <div class="form-group">
                            <input type="datetime-local" placeholder="Data" name="session_date" class="form-control rounded-0" formControlName="data_horario_inicio" />
                        </div>
                    </div>
                    <!-- <div class="col-12 col-md-3 pl-md-5">
                        <div class="form-group">
                            <input type="d" placeholder="Hora" name="session_hour" class="form-control rounded-0" />
                        </div>
                    </div> -->
                </section>
                <section class="row justify-content-center py-3">
                    <div class="col-12">
                        <button type="submit" class="btn w-100 raised-button">Adicionar sessão</button>
                    </div>
                </section>
            </form>
        </div>
    </section>
</main>