<section class="row py-4 px-2 justify-content-center align-items-center">
    <div class="col-2 pb-3 text-center border-bottom border-white">
        <a routerLink="#">
            <img src="assets/icons/facebook-white.svg" width="32" height="32"/>
            <p class="d-inline-block text-white font-weight-bold">/SeuCine.OFICIAL</p>
        </a>
    </div>
    <div class="col-2 pb-3 text-center border-bottom border-white">
        <a routerLink="#">
            <img src="assets/icons/twitter-white.svg" width="32" height="32"/>
            <p class="d-inline-block text-white font-weight-bold">/SeuCine.OFICIAL</p>
        </a>
    </div>
    <div class="col-2 pb-3 text-center border-bottom border-white">
        <a routerLink="#">
            <img src="assets/icons/instagram-white.svg" width="32" height="32"/>
            <p class="d-inline-block text-white font-weight-bold">/SeuCine.OFICIAL</p>
        </a>
    </div>
    <div class="col-2 pb-3 text-center border-bottom border-white">
        <a routerLink="#">
            <img src="assets/icons/linkedin-white.svg" width="32" height="32"/>
            <p class="d-inline-block text-white font-weight-bold">/SeuCine.OFICIAL</p>
        </a>
    </div>
</section>
<section class="row py-4 justify-content-center">
    <div class="col-2 pb-3 text-center border-bottom border-white">
        <img src="assets/icons/logo.svg" width="128" height="128" />
    </div>
    <div class="col-2 pb-3 border-bottom border-white">
        <h5 class="text-white">Filmes</h5>
        <nav class="nav flex-column">
            <a class="nav-link active p-0" routerLink="#">Programação</a>
            <a class="nav-link active p-0" routerLink="#">Cartaz</a>
            <a class="nav-link active p-0" routerLink="#">Em breve</a>
        </nav>
    </div>
    <div class="col-2 pb-3 border-bottom border-white">
        <h5 class="text-white">Salas</h5>
        <nav class="nav flex-column">
            <a class="nav-link active p-0" routerLink="#">3D</a>
            <a class="nav-link active p-0" routerLink="#">XD</a>
            <a class="nav-link active p-0" routerLink="#">2D</a>
            <a class="nav-link active p-0" routerLink="#">Premium</a>
        </nav>
    </div>
    <div class="col-2 pb-3 border-bottom border-white">
        <h5 class="text-white">Sobre nós</h5>
        <nav class="nav flex-column">
            <a class="nav-link active p-0" routerLink="#">Quem somos</a>
            <a class="nav-link active p-0" routerLink="#">Privacidade</a>
            <a class="nav-link active p-0" routerLink="#">Termos de uso</a>
            <a class="nav-link active p-0" routerLink="#">Duvidas frequentes</a>
            <a class="nav-link active p-0" routerLink="#">Contato</a>
        </nav>
    </div>
</section>
<section class="row pb-2">
    <div class="col-12">
        <p class="m-0 text-center text-white">Copyright &copy; 2020 SeuCine.com</p>
    </div>
</section>
