<main class="container-fluid py-4">
    <form>
        <section class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h4 class="py-2">Cadastre-se</h4>
                <h6 class="subtitle">O cine.com tem diversos benefícios para deixar tudo mais fácil. Preencha os dados abaixo ou faça login com sua rede social favorita.</h6>
            </div>
            <div class="w-100"></div>
            <div class="col-12 col-md-4 pr-md-5">
                <div class="form-group">
                    <input type="text" placeholder="Nome completo" name="name" class="form-control rounded-0" />
                </div>
                <div class="form-group">
                    <input type="date" placeholder="Data de nascimento" name="birth_date" class="form-control rounded-0" />
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Endereço" name="address" class="form-control rounded-0" />
                </div>
            </div>
            <div class="col-12 col-md-4 pl-md-5 section-divider-left">
                <div class="form-group">
                    <input type="text" placeholder="CPF" name="cpf" class="form-control rounded-0" />
                </div>
                <div class="form-group">
                    <input type="phone" placeholder="Telefone" name="phone" class="form-control rounded-0" />
                </div>
            </div>
        </section>
        <section class="row justify-content-center">
            <div class="col-12 col-md-8">
                <h4 class="py-2">Dados de acesso</h4>
            </div>
            <div class="w-100"></div>
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <input type="email" placeholder="E-mail" name="email" class="form-control rounded-0" />
                </div>
            </div>
            <div class="w-100"></div>
            <div class="col-12 col-md-4 pr-md-5">
                <div class="form-group">
                    <input type="password" placeholder="Senha" name="password" class="form-control rounded-0" />
                </div>
            </div>
            <div class="col-12 col-md-4 pl-md-5">
                <div class="form-group">
                    <input type="password" placeholder="Confirmar Senha" name="password_confirm" class="form-control rounded-0" />
                </div>
            </div>
        </section>
        <section class="row justify-content-center py-3">
            <div class="col-12 col-md-8">
                <button type="submit" class="btn raised-button">Cadastrar</button>
            </div>
        </section>
    </form>
</main>