.section-divider-left {
    border-left: 1px solid #F1F1F1;
}

@media screen and (max-width: 768px) {
    .section-divider-left {
        border-bottom: 1px solid #F1F1F1;
        border-left: 0;
    }   
}