<section class="container bg-35363A rounded py-2">
    <div class="row">
        <div class="col-12">
            <h5 class="text-b3414b text-center">Administrador</h5>
        </div>
        <div class="col-12">
            <nav class="nav flex-column">
                <span class="border-top"></span>
                <a class="nav-link text-white" routerLinkActive="active-link" routerLink="#">Pagina inicial</a>
                <span class="border-top"></span>
                <a class="nav-link text-white" routerLinkActive="active-link" routerLink="/create-movie">Novo filme</a>
                <a class="nav-link text-white" routerLinkActive="active-link" routerLink="/list-movie">Filmes em cartaz</a>
                <span class="border-top"></span>
                <a class="nav-link text-white" routerLinkActive="active-link" routerLink="/create-session">Nova sessão</a>
                <a class="nav-link text-white" routerLinkActive="active-link" routerLink="#">Ver estado das sessões</a>
                <span class="border-top"></span>
                <a class="nav-link text-white" routerLinkActive="active-link" routerLink="/create-movie-room">Nova sala</a>
                <a class="nav-link text-white" routerLinkActive="active-link" routerLink="#">Lista de salas</a>
                <span class="border-top"></span>
                <a class="nav-link text-white" routerLinkActive="active-link" routerLink="/create-ticket-type">Novo tipo de ingresso</a>
                <a class="nav-link text-white" routerLinkActive="active-link" routerLink="#">Lista de ingressos</a>
            </nav>
        </div>
    </div>
</section>