
<section class="container-fluid">
    <div class="row">
        <div class="col-12 mb-2">
            <h5 class="mb-0 text-white text-center">Selecione os assentos</h5>
        </div>
    </div>

    <div class="row canvas-background mx-3" *ngIf="room">
        <div class="col-12 canvas">
            <div class="row align-items-center">
                <div class="col-2">
                    <div class="vertical-align-center">
                        <span class="legend legend--unavailable d-inline-block mx-2"></span>
                        <p class="mb-0 ">
                            Indisponivel
                        </p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="vertical-align-center">
                        <span class="legend legend--available d-inline-block mx-2"></span>
                        <p class="mb-0 ">
                            Disponivel
                        </p>
                    </div>
                </div>
                <div class="col-2">
                    <div class="vertical-align-center">
                        <span class="legend legend--selected d-inline-block mx-2"></span>
                        <p class="mb-0 ">
                            Selecionado
                        </p>
                    </div>
                </div>

            </div>
            <div class="row align-items-center my-2" *ngFor="let letter of getRow()">
                <div class="col-1">
                    <h5 class="mb-0 text-center">{{ letter }}</h5>
                </div>
                <div class="col-11 text-center">
                    <app-seat-item [position]="letter + seatPosition" [ticketType]="ticketTypes" [available]="checkIsAvailable(letter + seatPosition)" *ngFor="let seatPosition of getSeats()" (onSelect)="onSelectSeat($event)"></app-seat-item>
                </div>
            </div>
        </div>
        <div class="col-11 offset-1 mt-5">
            <div class="mx-auto screen">
                <h5 class="mb-0 text-center text-white">Tela</h5>
            </div>
        </div>
    </div>

    <div class="row mt-4 align-items-center">
        <div class="col-3 pl-4">
            <h5 class="mb-0 text-white">Total: {{ getTotalPrice() | currency:'R$' }}</h5>
        </div>

        <div class="col-2 offset-7">
            <button type="button" class="retangle-button ml-auto" (click)="onSubmit()">Proximo</button>
        </div>
    </div>
</section>

