<nav class="navbar navbar-light shadow-sm navbar-expand-lg bg-35363A">
    <a routerLink="#" class="navbar-brand">
        <div>
            <img src="assets/icons/logo.svg" width="48" height="48"/> <span class="font-arvo font-weight-bold text-white">SeuCine.com</span>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav ml-auto">
            <li class="nav-item active mx-3">
                <a class="nav-link text-white" routerLink="/"><fa-icon [icon]="faHome" class="pr-2"></fa-icon>Inicio</a>
            </li>
            <li class="nav-item active mx-3">
                <a class="nav-link text-white" routerLink="#"><fa-icon [icon]="faTicketAlt" class="pr-2"></fa-icon>Filmes</a>
            </li>
            <li class="nav-item active mx-3" *ngIf='!isLogged'>
                <a class="nav-link text-white" routerLink="/login"><img src="assets/icons/user-white.svg" width="30" height="26" class="pr-2" />Entrar</a>
            </li>
            <li class="nav-item active mx-3" *ngIf='isLogged'>
                <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="assets/icons/user-white.svg" width="30" height="26" class="pr-2" />Minha conta</a>
            </li>
            <li class="nav-item active mx-3" *ngIf="isLogged && usuario.admin">
                <a class="nav-link text-white" routerLink="/list-movie" ><fa-icon [icon]="faLock" class="pr-2"></fa-icon>Administrador</a>
            </li>
            <li class="nav-item active mx-3" *ngIf="isLogged">
                <a class="nav-link text-white" (click)="logout()" style="cursor: pointer;"><fa-icon [icon]="faSignOutAlt" class="pr-2"></fa-icon>Sair</a>
            </li>
        </ul>
    </div>
</nav>  