<section class="row">
    <div class="col-12 py-4">
        <h3>{{ title }}</h3>
        <button class="btn rounded-button my-3">Ver todos</button>
    </div>
    <div class="col-12 pl-0">

        <div [id]="'listOfFilmesCarousel' + title.replace(' ', '')" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let movieList of getMoviesInSplit(); let i = index" [ngClass]="i === 0 ? 'active' : ''">
                <app-movie-poster *ngFor="let movie of movieList" [movie]="movie"></app-movie-poster>
              </div>
            </div>
            <a class="carousel-control-next" [href]="'#listOfFilmesCarousel' + title.replace(' ', '')" role="button" data-slide="next">
                <fa-icon [icon]="faChevronRight" class="pr-2 text-b3414b" size='3x'></fa-icon>
            </a>
          </div>
    </div>
</section>
