<section class="row">
    <div class="col-12 py-4">
        <h3>{{ title }}</h3>
        <button class="btn rounded-button my-3">Ver todos</button>
    </div>
</section>
<section class="row" #movieListElement>
  <div class="col-12">
    <div class="row flex-nowrap overflow-hidden no-gutters">
      <div class="col-2" *ngFor="let movie of movies; let i = index" [ngStyle]="{'transform': 'translateX(' + moved + 'px)'}" #posterElement>
        <app-movie-poster [movie]="movie"></app-movie-poster>
      </div>
      <div class="movie-list-arrow" (mouseout)="stopMoveSessionDates()" (mouseover)="moveSessionDates()" #arrowButtonElement>
        <fa-icon [icon]="faChevronRight" class="pr-2 text-b3414b " size='3x'></fa-icon>
      </div>
        
    </div>
  </div>
</section>